{% extends 'index.html' %}
{% block content %}
  <title>Личный кабинет</title>
  <style>
    body {
      font-family: Arial, sans-serif; /* Используемый шрифт для текста на странице */
      height: 1000px;
background: linear-gradient(45deg, rgba(53, 159, 103, 0.39), rgba(243, 219, 202, 0.68));
    }
    .profile-container {
      border: 4px solid #359f67; /* Цвет рамки */
      padding: 40px;
      width: 800px; /* Уменьшаем ширину для лучшей читаемости текста на больших экранах */
      margin: 30px auto; /* Центрируем контейнер на странице */
      background-color: rgba(191, 199, 215, 0.21); /* Добавляем белый фон для контейнера */
      border-radius: 10px; /* Добавляем скругленные углы для контейнера */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Добавляем тень для контейнера */
    }
    .container{
      display: flex;
      align-items: center;
      margin-bottom: 40px; /* Добавляем отступ снизу для расстояния между блоками */
    }
    .profile-image {
      margin-right: 30px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover; /* Устанавливаем, чтобы изображение полностью занимало свою область и обрезалось при необходимости */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Добавляем тень для изображения */
      border: 4px solid #359f67;
    }
  .details {
    font-size: 24px;
    margin-left: 70px;
    display: flex;
    justify-content: space-between; /* Размещаем имя и фамилию по обе стороны блока */
    border: 2px solid #359f67; /* Добавляем рамку вокруг блока */
    padding: 10px; /* Добавляем внутренний отступ внутри рамки */
    border-radius: 10px; /* Делаем скругленные углы для рамки */
    margin-top: 20px; /* Добавляем отступ сверху для разделения блоков */
    background-color: #f9f9f9;
  }

    #l_name {
      margin-left: 10px; /* Добавляем отступ слева для фамилии */
    }
    .news-form {
      text-align: center;
      padding: 20px;
      border-top: 2px solid #45b97b;
    }
    form label {
      display: block; /* Делаем метку блочным элементом для удобного отображения */
      margin-bottom: 5px; /* Добавляем отступ между метками и полями ввода */
    }
    form input[type="text"],
    form textarea {
      width: 100%; /* Занимаем всю доступную ширину внутри родительского контейнера */
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc; /* Добавляем рамку вокруг поля ввода для большей ясности */
      border-radius: 5px; /* Делаем скругленные углы для поля ввода */
      box-sizing: border-box; /* Учитываем padding и border в общей ширине элемента */
    }
    form input[type="submit"] {
      padding: 15px 30px;
      background-color: #46cc85;
      color: rgba(178, 228, 236, 0.82);
      border: none;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s; /* Добавляем плавное изменение цвета при наведении */
    }
    form input[type="submit"]:hover {
      background-color: #359f67;
    }

        .logout-button {
      position: absolute; /* Позиционируем кнопку абсолютно внутри родительского контейнера */
      top: 10px; /* Отступ от верхнего края */
      right: 10px; /* Отступ от правого края */
      padding: 10px 20px; /* Размер кнопки */
      background-color: rgba(248, 64, 52, 0.82); /* Цвет фона кнопки */
      color: #fff; /* Цвет текста кнопки */
      border: none; /* Удаление границы */
      border-radius: 5px; /* Скругление углов */
      cursor: pointer; /* Изменение курсора при наведении */
      font-weight: bold; /* Жирный шрифт */
    }
    .logout-button:hover {
  background-color: #d32b27; /* Изменяем цвет фона при наведении */
}
@media (max-width: 576px) {
  .profile-container {
    width: 100%; /* контейнер профиля на всю ширину на экранах меньшего размера */
    padding: 20px; /*  отступы для лучшей компоновки на маленьких экранах */
  }
  .container {
    flex-direction: column; /*  изображение и детали вертикально на экранах меньшего размера */
    text-align: center; /* Выровнять содержимое по центру */
  }
  .profile-image {
    margin-right: 0; /* Удалите правое поле для изображения */
    margin-bottom: 0px; /* Добавьте нижнее поле для разделения */
    margin-top: 20px; /* Добавьте нижнее поле для разделения */
  }
  .details {
    margin-left: 0; /* Уберите левое поле для деталей */
  }
  .logout-button {
    position: static; /* Сбросьте положение кнопки выхода из системы */
    margin-top: 20px; /* Добавьте верхнее поле для разделения */

  }
  .news-form {
    padding: 10px; /* Уменьшите отступы для формы */
  }
  form input[type="submit"] {
    width: 100%; /* Сделайте кнопку отправки на всю ширину */
  }
}
  </style>
<body>
  <div class="profile-container"  style="position: relative;">
      <a class="logout-button" href="{% url 'logout' %}">Выйти из профиля</a> <!-- Добавляем кнопку "Выход" -->
    <div class="container">
      {% load static %}
      <img src="/static/p1.jpg" class="profile-image">
      <div class="details">
        <p id="name">{{name}}</p>
        <p id="l_name">{{l_name}}</p>
      </div>
    </div>
<div class="news-form">
  <form method="POST">
    {% csrf_token %}
    <label>Заголовок:</label><br>
    {{ form.title }}
    <br>
    <label>Текст:</label><br>
    {{ form.text }}
    <br>
    <input type="submit" value="Опубликовать"> <!-- перемещенная кнопка "опубликовать" -->
  </form>
</div>
</div>
</body>
{% endblock %}
